.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: rgb(197, 196, 196); 
    padding: 0; 
    margin: 0 0 0 0;
}

.hero {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;
    position: relative; 
    z-index: 10; 
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    font-size: 16pt;
}

ul li a:hover {
    color: white;
}

ul li a {
    position: relative;
    color: black;
    transition: 0.5s;
}

ul li a::after {
    content: " ";
    width: 0%;
    height: 3px;
    background-color: black;
    position: absolute;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botoes{
    display: flex;
    justify-content: center;  
    gap: 100px;
    z-index: 10;
    position: relative; 
    z-index: 10; 
}

main {
    font-family: "Faculty Glyphic";
    padding: 0;
    margin: 0;
}

.btn1 a, .btn2 a{
    color: inherit;  
}

.btn1, .btn2{
    font-size: 12pt;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    transition: 0.5s;
    border: solid black;
}

.btn1:hover, .btn2:hover{
    background-color: black;
    color: white;
    border: solid rgb(255, 255, 255);
    scale: 1.050;
    transition: 0.5s;
}